<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <p1>{{ instructions }}</p1>
    <form action="/thank-you">
        <ol>
            <li>Do you ever dream about code?</li>
                Yes <input type="radio" name="question1"></input>
                No <input type="radio" name="question1"></input>
            <li>Do you ever have nightmares about code?</li>
                Yes <input type="radio" name="question2"></input>
                No <input type="radio" name="question2"></input>
            <li>Do you prefer porcupines or hedgehogs?</li>
                Porcupines <input type="radio" name="question3"></input>
                Hedgehogs <input type="radio" name="question3"></input>
            <li>"Which is the worst function name, and why?"</li>
                do_stuff() <input type="radio" name="question4"></input>
                run_me() <input type="radio" name="question4"></input>
                wtf() <input type="radio" name="question4"></input>
                <input type="text" placeholder="why?"></input>
        </ol>
        <button type="submit">Finish!</button>
    </form>
</body>
</html>